<!DOCTYPE html>
<html>
    <head>
        <title>FSG Quote</title>
    </head>
    <body>
        <input id="shirt-id" type="hidden" value=<%= shirtId %>>
        <script src="shirt.js"></script>
        <script src="product.js"></script>
    </body>
</html>