<!DOCTYPE html>
<html>
    <head>
        <title>FSG Quote</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="styles/app.css">
    </head>
    <body>
        <div id="app">
            <div class="container col-3">
                <!-- enter jsml -->
            </div>
        </div>
        <input id="shirt-id" type="hidden" value="<%= shirtId %>" />
        <script src="models/shirt.js"></script>
        <script src="models/product.js"></script>
        <script src="jsml.js"></script>
        <script src="components/label.js"></script>
        <script src="components/number-input.js"></script>
        <script src="components/dropdown.js"></script>
        <script src="components/product-view.js"></script>
        <script>
            let shirtId = document.getElementById("shirt-id").value;
            let pc = new ProductView({
                shirtId: shirtId
            });
            let container = document.getElementsByClassName("container")[0];
            container.appendChild(pc.render());
        </script>
    </body>
</html>