/*
* For some reason this allows heights to be set on elements with absolute positions.
* I'm not sure what this will do to overall styling, but I guess it's ok for now
*/
* {
    position: relative;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.customize-view {
    text-align: center;
    max-width: 500px;
    margin: auto;
}

.customize-view .product-detail-box {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
}

.customize-view .product-detail-box .price-per-shirt-label {
    display: "block";
}

/* positions image directly under canvas */
.customize-view .image-viewer img {
    position: absolute;
    z-index: -1;
}

.customize-view .image-viewer .dragged-over {
    background-color: rgba(0, 0, 0, 0.2);
}

.customize-view .product-detail .color-picker {
    margin: 10px;
}

.quote-view {
    margin: auto;
    max-width: 500px;
}

.quote-view .quote-item {
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 3px;
}

.quote-view .quote-item .slidedown * {
   margin: 5px;
}

.quote-view .quote-item .media-body {
    padding: 10px;
}

.quote-view .quote-item h5 {
    display: inline-block;
}

.quote-view .quote-item .delete-button {
    float: right;
}

.quote-view .quote-item .quantity-inputs {
    margin: 0 10px;
}

.quote-view .quote-item .controlled-input {
    margin-right: 5px;
}

.color-count-dropdowns {
    margin: 10px 0;
}

.color-count-dropdowns .dropdown {
    margin: 0 10px;
}

/* makes text centered in input */
.controlled-input {
    text-align: center;
}

.flash {
    margin: 10px 0;
}

.flash p {
    margin: 0;
}

/* flash types */
.flash-danger {
    color: red;
}

.flash-warning {
    color: yellow;
}

.flash-success {
    color: green;
}

.modal {
    background-color: white;
    margin: auto;
    padding: 10px;
    position: fixed;
    border-radius: 3px;
    width: 500px;
    height: 400px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}